<div class="banner-lightGreen flex row" style="align-items: center; justify-content: space-between;">
    <span class="font-24 black">총 주문금액</span>
    <div class="inline">
        <span class="font-24 darkGreen" style="padding-right: 0.6rem;">52,500원</span>
    </div>
</div>
<div class="banner-white flex row" style="align-items: center; justify-content: space-between;">
    <span class="font-24 black">카드 간편결제</span>
    <div class="inline">
        <span class="font-24 darkGreen" style="padding-right: 0.6rem;">52,500원</span>
    </div>
</div>
<div class="banner-white flex column" style="gap: 16px;">
    <div class="flex row">
        <span class="font-22 gray500">개인정보 제공동의:</span>
        <span class="font-22 darkGreen right-padding">스포츠이즈</span>
        <span class="font-22 gray300" style="text-decoration: underline;">상세보기</span>
    </div>
    <div class="inline">
        <span class="font-20-regular gray300" style="padding-right: 0.6rem;">구매안전 서비스 안내</span>
    </div>
</div>
<div class="banner-white flex column" style="gap: 16px;">
    <div class="inline">
        <div class="checkbox-wrap">
            <input type="checkbox" id="check4" name="동의4" />
            <label for="check4">
            <span></span>
            </label>
        </div>
        <div class="flex font-22 black" style="align-items: center;">
            <input type="checkbox" id="coding4" name="interest4" value="coding" checked />
            <label for="coding4" class="right-padding">후불결제</label>
            <img src="./icon/saleChip.svg" alt="">
        </div>
    </div>
    <div class="inline">
        <span class="font-20-regular gray300" style="padding-left: 2.2rem;">지금 구매, 납부는 다음에! (최대 30만원)</span>
    </div>
</div>
<div class="banner-gradient">
    <div class="flex column" style="gap: 8px;">
        <div class="flex row">
            <span class="font-22 black">소상공인을 응원합니다</span>
        </div>
        <div class="inline">
            <span class="font-27 darkGreen" style="padding-right: 0.6rem;">네이버페이 무료 QR송금</span>
        </div>
    </div>
</div>