<div class="card-content">
    <div class="card-hr-wrapper">
        <div class="flex column" style="width: 100%; gap: 0.9rem;">
            <div class="flex row" style="align-items: center; justify-content: space-between;">
                <h2>스포츠 이즈</h2>
                <span class="font-27-regular gray300">배송비 3,000원</span>
            </div>
            <div class="font-24 inline gray300">
                <div class="flex" style="padding-right: 0.5rem;">
                    <button class="non-btn">오늘출발</button>
                    <span>마감(14:00) <span style="color: var(--darkGreen);">4.24(수) 발송예정</span></span>
                </div>
                <div class="flex" style="align-items: center;"><img src="./icon/help.svg" alt=""></div>
            </div>
            <div class="flex row" style="gap: 30px;">
                <div><img src="./img/thumb.png" alt="bag image" style="width: 130px;"></div>
                <div class="flex column" style="gap: 15px;">
                    <h2>나이키 더플백 망치가방 더블백 헬스 요가 운동 짐가방</h2>
                    <div class="inline">
                        <button class="non-btn" style="color: var(--gray500); padding: 0.4rem;">옵션</button>
                        <span class="font-20 line-right gray300">상품선택: 6.나이키 컬러 소프트</span>
                        <span class="font-20 gray700 left-padding">1개</span>
                    </div>
                    <div class="inline font-27">
                        <span class="gray700 right-padding">49,500원</span>
                        <span class="gray300 right-padding" style="text-decoration: line-through;">110,000</span>
                        <img src="./icon/npay.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>