<div class="card-content">
    <div class="banner-white flex column" style="gap: 16px;">
        <div class="inline">
            <div class="checkbox-wrap">
                <input type="checkbox" id="check5" name="동의5" />
                <label for="check5">
                <span></span>
                </label>
            </div>
            <div class="flex font-22 black" style="align-items: center;">
                <input type="checkbox" id="coding5" name="interest5" value="coding" checked />
                <label for="coding5" class="right-padding">N페이 머니 충전결제</label>
                <img src="./icon/saleChip.svg" alt="">
            </div>
        </div>
    </div>
    <div class="hr-line"></div>
    <div class="banner-white flex column" style="gap: 16px;">
        <div class="inline">
            <div class="checkbox-wrap">
                <input type="checkbox" id="check6" name="동의6" />
                <label for="check6">
                <span></span>
                </label>
            </div>
            <div class="flex font-22 black" style="align-items: center;">
                <input type="checkbox" id="coding6" name="interest6" value="coding" checked />
                <label for="coding6" class="right-padding">계좌 간편결제</label>
            </div>
        </div>
    </div>
    <div class="hr-line"></div>
    <div class="banner-white flex column" style="gap: 16px;">
        <div class="inline">
            <div class="checkbox-wrap">
                <input type="checkbox" id="check7" name="동의7" />
                <label for="check7">
                <span></span>
                </label>
            </div>
            <div class="flex font-22 black" style="align-items: center;">
                <input type="checkbox" id="coding7" name="interest7" value="coding" checked />
                <label for="coding7" class="right-padding">카드 간편결제</label>
            </div>
        </div>
    </div>
    <div class="carouselCard flex row" style="justify-content: space-between; padding:4rem 0 4rem 0;">
        <button class="carousel-btn prev" style="padding-right: 2rem; border: none; background-color: transparent;"><img src="./icon/left-click.svg" alt=""></button>
        <div class="carousel-Wrapper" style="width: 800px; overflow: hidden;">
            <div class="carousel flex row" style="gap: 32px;">
                <div id="first" class="non-click cashcard flex row" style="flex: 0 0 auto; gap: 32px; width: 480px;">
                    <img src="./img/cashcard.svg" alt="">
                    <div class="flex column" style="justify-content: space-between; padding: 1rem 0 1rem 0;">
                        <p class="font-24 black">토스뱅크카드 오렌지밀크</p>
                        <p class="font-24 gray700">체크 8080</p>
                        <p class="flex font-24 gray300" style="align-items: center;">일시불
                            <img src="./icon/down.svg" alt="">
                        </p>
                    </div>
                </div>
                <div id="second" class="non-click cashcard flex row" style="flex: 0 0 auto; gap: 32px; width: 480px;">
                    <img src="./img/cashcard2.svg" alt="">
                    <div class="flex column" style="justify-content: space-between; padding: 1rem 0 1rem 0;">
                        <p class="font-24 black">토스뱅크카드 그레이</p>
                        <p class="font-24 gray700">체크 8080</p>
                        <p class="flex font-24 gray300" style="align-items: center;">일시불
                            <img src="./icon/down.svg" alt="">
                        </p>
                    </div>
                </div>
                <div id="third" class="non-click cashcard flex row" style="flex: 0 0 auto; gap: 32px; width: 480px;">
                    <img src="./img/cashcard2.svg" alt="">
                    <div class="flex column" style="justify-content: space-between; padding: 1rem 0 1rem 0;">
                        <p class="font-24 black">토스뱅크카드 그레이</p>
                        <p class="font-24 gray700">체크 8080</p>
                        <p class="flex font-24 gray300" style="align-items: center;">일시불
                            <img src="./icon/down.svg" alt="">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-btn next" style="padding-left: 2rem; border: none; background-color: transparent;"><img src="./icon/right-click.svg" alt=""></button>
    </div>
    <div class="banner-lightGreen flex row" style="align-items: center; margin-bottom: 1.4rem; justify-content: space-between;">
        <span class="font-20-regular black">전원 실적, 한도 조건 없이 최대 2% 적립</span>
        <div class="inline">
            <span class="font-24 darkGreen" style="padding-right: 0.6rem;">>>></span>
        </div>
    </div>
    <div class="hr-line"></div>
    <div class="banner-white flex column" style="gap: 16px;">
        <div class="inline">
            <div class="checkbox-wrap">
                <input type="checkbox" id="check8" name="동의8" />
                <label for="check8">
                <span></span>
                </label>
            </div>
            <div class="flex font-22 black" style="align-items: center;">
                <input type="checkbox" id="coding8" name="interest6" value="coding" checked />
                <label for="coding8" class="right-padding">일반결제</label>
            </div>
        </div>
    </div>
    <div class="hr-line"></div>
    <div class="banner-white flex column" style="gap: 16px;">
        <div class="flex row">
            <span class="font-22 gray500">결제/할인혜택 안내</span>
        </div>
        <div class="inline">
            <span class="font-20-regular gray300" style="padding-right: 0.6rem;">등록카드는 <span style="text-decoration: underline;">설정>카드정보</span> 에서 변경 가능합니다.</span>
        </div>
    </div>
</div>