<div class="card-content">
    <div class="card-hr-wrapper">
        <div class="flex column" style="width: 100%; gap: 1.4rem;">
            <div class="flex row" style="align-items: center; justify-content: space-between;">
                <h2>구매적립</h2>
                <span class="font-27 black">총 495원</span>
            </div>
            <div style="border-left: 3px solid var(--gray300); padding-left: 1rem;">
                <div class="flex row" style="align-items: center; justify-content: space-between;">
                    <span class="font-24 gray300">기본적립</span>
                    <span class="font-24 gray300">495원</span>
                </div>
            </div>
            <div class="flex row" style="align-items: center; justify-content: space-between;">
                <div class="flex column">
                    <h2>리뷰적립</h2>
                    <span class="font-24-regular gray300">동일상품의 상품/한달리뷰 적립은 각 1회로 제한</span>
                </div>
                <span class="font-27 black">최대 170원</span>
            </div>
            <div class="hr-line"></div>
            <div class="flex row" style="align-items: center; justify-content: space-between;">
                <div class="inline">
                    <span class="font-24 black">구매 감사 포인트 받기</span>
                    <img src="./icon/right.svg" alt="">
                </div>
                <span class="font-24 darkGreen" style="padding-right: 0.6rem;">+1,980원</span>
            </div>
        </div>
    </div>
</div>