<div class="card-content">
    <div class="card-hr-wrapper">
        <div class="flex column" style="width: 100%; gap: 0.9rem;">
            <div class="flex row" style="align-items: center; justify-content: space-between;">
                <h2>윤서빈(윤서빈)</h2>
                <button class="mini-btn">변경</button>
            </div>
            <div class="font-24 inline gray300">
                <div class="flex right-padding">
                    <span class="line-right">010-5268-9736</span>
                    <span class="left-padding">010-5268-9736</span>
                </div>
                <div class="checkbox-wrap">
                    <input type="checkbox" id="check1" name="동의" />
                    <label for="check1">
                    <span></span>
                    </label>
                </div>
                <div>
                    <input type="checkbox" id="coding1" name="interest1" value="coding" checked />
                    <label for="coding1">안심번호 사용</label>
                </div>
            </div>
            <span class="font-24 gray500">부산광역시 동래구 온천장로 119번길 102동 602호</span>
            <select class="select"> 
                <option value="">배송메모를 선택해주세요</option> 
                <option value="apple">부재시 문앞에 두고 가세요</option> 
                <option value="banana">배송 전 연락 바랍니다</option> 
                <option value="orange">경비실에 맡겨주세요</option> 
            </select>
            <div class="inline">
                <div class="checkbox-wrap">
                    <input type="checkbox" id="check2" name="동의2" />
                    <label for="check2">
                    <span></span>
                    </label>
                </div>
                <div class="font-24 gray300">
                    <input type="checkbox" id="coding2" name="interest2" value="coding" checked />
                    <label for="coding2">다음에도 사용할게요</label>
                </div>
            </div>
        </div>
    </div>
</div>