<div class="checkbox-wrap">
    <input type="checkbox" id="check1" name="동의" />
    <label for="check1">
    <span></span>
    </label>
</div>
<div>
    <input type="checkbox" id="coding" name="interest" value="coding" checked />
    <label for="coding">안심번호 사용</label>
</div>
<!-- 분리해서 사용할 땐 id 값 따로 할당 -->

<div class="inline">
    <div class="checkbox-wrap">
        <input type="checkbox" id="check2" name="동의2" />
        <label for="check2">
        <span></span>
        </label>
    </div>
    <div class="font-24 gray300">
        <input type="checkbox" id="coding2" name="interest2" value="coding" checked />
        <label for="coding2">다음에도 사용할게요</label>
    </div>
</div>